:root {
    --navbar-bg-color: hsl(0, 0%, 15%);
    --navbar-text-color: hsl(0, 0%, 85%);
    --navbar-text-color-focus: white;
    --navbar-bg-contrast: hsl(0, 0%, 25%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-image: url(https://wallpapertag.com/wallpaper/full/5/0/9/350850-website-background-1920x1234-for-android-50.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1000px;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    margin: 0 auto;
}

.navbar-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    align-items: center;
}

.home-link,
.navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    display: flex;
    font-weight: 400;
    align-items: center;
}

.home-link:is(:focus, :hover) {
    color: var(--navbar-text-color-focus);
}

.navbar-logo {
    border-radius: 50%;
    margin-right: 15px;
}

@media screen and (min-width: 700px) {
    #navbar-toggle,
    #navbar-toggle[aria-expanded="true"] {
        display: none;
    }
}

#im {
    width: 150px;
    height: 150px;
}

#top {
    align-items: center;
    font-size: 35px;
    display: inline-flex;
    justify-items: center;
}

#wrapper {
    height: auto;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

#wrapper > * {
    margin: 10px;
    padding: 10px;
}

#header {
    display: flex;
    height: 100px;
    background-color: rgb(83, 70, 95);
    left: 0;
    right: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    justify-content: center;
    position: fixed;
}

#main {
    padding-top: 240px;
    display: flex;
    height: 50vh;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    font-size: larger;
    color: darkolivegreen;
}

.input {
    display: flex;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: #009688;
    border-color: #009688;
}

.btn-primary {
    margin-top: 12px;
    width: 150px;
    color: #fff;
    background-color: #5dac9d;
    border-color: #5dac9d;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #4b9183;
    border-color: #4b9183;
}

#bike {
    background: linear-gradient(to right, #ffe3d8, #ace2db);
    height: 575px;
    width: 900px;
    margin: auto;
    padding: 20px;
    border: 1px solid #99c9c3a3;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    top: 140px;
}

#quiz {
    width: 100%;
    padding: 20px;
    border: 1px solid #99c9c3a3;
    border-radius: 8px;
}

.question {
    height: 180px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 60px;
}

#quiz h3 {
    color: #333;
}

#quiz label {
    display: block;
}

#quiz input[type="submit"] {
    margin-top: 20px;
}

.card-bottom {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 75px;

}

.card-name {
    text-align: center;
    font-size: larger;
}

.score {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    gap:650px
}

.custom-button {
    background-color: #e60023;
    color: white;
    padding: 16px 32px;
    border: 4px solid white;
    opacity: 0.2;
    transition: transform 0.3s ease;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    text-align: center;
}

.custom-button:hover {
    transform: scale(0.95);
}

.custom-button:focus {
    outline: none;
}

.container-audio {
    width: 99%;
  height: 100px;
  padding: 20px;
  border-radius: 5px;
  margin: 5px auto;
    margin-left: auto;
  overflow: hidden;
  margin-left: 30px;

}

audio {
    width: 99%;
    height: 30px;
}


.container-audio .colum1 {
    width: 23px;
    height: 5em;
    border-radius: 5px;
    margin: 0 10px 0 0;
    display: inline-block;
    position: relative;
}

.container-audio .colum1:last-child {
    margin: 0;
}

.container-audio .colum1 .row {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to top, #7700aa, #8800ff);
    position: absolute;
    animation: Rofa 10s infinite ease-in-out;
    bottom: 0;
}

@keyframes Rofa {
    0% {
        height: 0%;
        transform: translatey(0);
        background-color: yellow;
    }
    5% {
        height: 100%;
        transform: translatey(15px);
        background-color: fuchsia;
    }
    10% {
        height: 90%;
        transform: translatey(0);
        background-color: bisque;
    }
    15% {
        height: 80%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    20% {
        height: 70%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    25% {
        height: 0%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    30% {
        height: 70%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    35% {
        height: 0%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    40% {
        height: 60%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    45% {
        height: 0%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    50% {
        height: 50%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    55% {
        height: 0%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    60% {
        height: 40%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    65% {
        height: 0%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    70% {
        height: 30%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    75% {
        height: 0%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    80% {
        height: 20%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    85% {
        height: 0%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    90% {
        height: 10%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    95% {
        height: 5%;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
    100% {
        height: 0;
        transform: translatey(0);
        background-color: cornflowerblue;
    }
}

.show {
    width: 195px;
    padding-top: 175px;
    color: black;
}
#result{
    top:275px;
    background: linear-gradient(to right, #ffe3d8, #ace2db);
    margin: auto;
}
.scoring{
    background: linear-gradient(to right, #ffe3d8, #ace2db);
}