  {%extends "layout.html"%}
  {%block body%}

    <div id="main">
        <img src="https://cdn-icons-png.flaticon.com/512/12798/12798883.png" alt="profile logo"  id="im">
        <p class="name">YOU DISPLAY NAME :</p>
        <form action="/game" method="POST">
            <div class="input">
                <div class="input-group flex-nowrap">
                    <input autocomplete="off" required type="text" class="form-control" name="name"  placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">    
                </div>
            </div>
            <div class="start" role="group" aria-label="Vertical button group">
                <input class="btn btn-primary" type="submit" value="start">
        </form>
                <button type="button" class="btn btn-primary">how to play</button>
            </div>    
    </div>
    
</div>
{%endblock%}
