{%extends "layout.html"%}
{%block body%}
<div style="padding-top: 125px;">
     <ol>
        <li><strong>Start the Game:</strong> Go to the home page. Enter your display name in the provided input field. Click the "Start" button to begin the game.</li>
        <li><strong>Listen to the Song :</strong> On the game page, an audio player will appear with a song. Click the play button to listen to the song.</li>
        <li><strong>Guess the Song:</strong> Below the audio player, you will see multiple choice buttons with different song titles. Listen to the song  carefully and click on the button with the title you think matches the song.</li>
        <li><strong>Submit Your Guess:</strong> After clicking your guess, the game will automatically check if your selection is correct. If correct, your score will increase by 10 points.</li>
        <li><strong>Next Song:</strong> Click the "Next" button to move on to the next song. The game will present a new song for you to guess.</li>
        <li><strong>Game Over:</strong> After 5 rounds, the game will end. You will be redirected to a results page where you can see your final score. Click "Play Again" if you want to start a new game.</li>
    </ol>
           
</div>  
{%endblock%}